@font-face {
font-family: "Adobe Garamond";
src: url("./css/fonts/adobe_garamond_pro_regular.ttf");


}
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html body .container{
color: #4a4a4a;
  font-size: 1em;
  width: 	100vw;
  height: 	100vh;
}

.row{
	margin: 	0;
	padding: 	0;
}

a{
	color: #4a4a4a;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}
.container{
	margin: 4em;
	padding: 0;
}
._navbar{
	cursor: pointer;
	float: 	left;	
	
}

.logo{
	font-weight: 300;

}

._navbar p:hover, .works_list li:hover{
	color: #d8533b;
}

.works_list{
	list-style-type: none;
	padding-left: 1em;
	padding-bottom: 1em;
	cursor: pointer;
	user-select: none;
	display: none;
}

.works_list li{
	font-size: .9em;
}

.dropdown_portfolio{
	cursor: pointer;
}

.active{
	color: #d8533b;
}

.center{
	margin-left: 	15%;
	position: 	absolute;	
	margin-right: 	30vw;


}

.banner{
	margin-bottom: 	4em;
	height: 70vh;
	width: 100%;
	

}




