@font-face{
	font-family: "Electrolize";
	src: url(/css/fonts/Electrolize-Regular.ttf);

}

@font-face{
	font-family: "Geo";
	src: url(/css/fonts/Geo-Regular.ttf);
}

body{
	margin:0;
	padding: 0;
	background-image: url('images/home-background/Repeat Grid 5.png');
	cursor: default;
	user-select: none;

}

.header{
	margin-left: 8vw;
}

.name{
	font-family: 'Electrolize','Helvetica','Sans-Serif';
	font-size: 10vw;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	transform: perspective(500px);
	
}

.title{
	padding-top: 15%;
}

.exponent{
	font-size: 8vh;
}

#world_line{
	font-family: 'Geo','Helvetica','Sans-Serif';
	font-size: 25vw;
	color: #fff;
	margin-left: 20vw;
	margin-top: 20%;
	margin-bottom: 0;
	position: absolute;
	z-index: -1;

	

}

#offset{
	position: absolute;
	color: #FF00EC;
	margin-left: 19%;
	font-family: 'Geo','Helvetica','Sans-Serif';
	font-size: 25vw;
	margin-top: 21%;
	margin-bottom: 0;
	z-index: -2 ;
}

.side{
	font-family: 'Geo','Helvetica','Sans-Serif';
	position: absolute;
	font-size: 4vh;
	right: 0;
	margin-top: 20%;
	transform: rotate(-90deg);
}



#headline{
	position: absolute;
	z-index: -1;
	padding-top: 11%;
	 width: 60vw;
    
}
